.button-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: .1rem .2rem;
    margin: 0 .1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.button:hover{
    background-color: #006c91;
}

.button:active{
    background-color: #3b9cbc;
}

#browser-settings h3{
    margin-bottom: 0;
}

h3 {
    background-color: #008CBA;
    color: white;
    padding: .2rem;
}